{{! markers need to be placed in sections above desired navigation section to compensate for the navbar! }}

<div id="purpose" role="marker" style="height: 70px;"></div>

<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="https://github.com/ChrisHonniball/ember-chosen">ember-chosen</a>
    </div>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li><a href="#purpose">Purpose</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#project-status">Project Status</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#options">Options</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Purpose</h2>
  <p class="lead">
    <code>ember-chosen</code> Use <a href="https://harvesthq.github.io/chosen/" target="_blank">Harvest’s Chosen</a> select boxes in your Ember CLI application.
  </p>

  <div id="installation" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr class="row">

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Installation</h2>
  <pre>ember install ember-chosen</pre>

  <div id="project-status" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr class="row">

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Project Status</h2>
  <p class="lead">
    {{!
    <span class="label label-danger">Rapid Development</span>&nbsp;
    This addon <em>will</em> change rapidly at this stage and <em>may</em> not be fully functional.
    }}

    <span class="label label-success">Stable</span>&nbsp;
    <a href="https://github.com/ChrisHonniball/ember-chosen/releases/latest">Stable version released</a>. All additional development will be tagged as a new release.
  </p>

  <div id="examples" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr class="row">

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Examples</h2>
  
  {{outlet}}
  
  <div id="options" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr class="row">

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  {{partial 'options'}}
</div>

<div class="clearfix"></div>
<hr class="row">

<div class="col-xs-12 text-center lead">
  Created by <a href="https://github.com/ChrisHonniball">@ChrisHonniball</a>
</div>
