<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

{{ember-chosen
  id="test-chosen"
  placeholder="Select Something..."
  allowSingleDeselect=true
  optionValuePath="value"
  optionLabelPath="label"
  content=options
  value=value
  action="save"
}}

<div>value: {{value}}</div>

{{ember-chosen
  id="test-chosen-2"
  placeholder="Select Some Things..."
  multiple=true
  optionValuePath="value"
  optionLabelPath="label"
  optionGroupPath="group"
  content=options
  value=value2
  action="save"
}}
