<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
  <h2 id="title">Ember-Chosen</h2>
  
  <p class="lead">Use <a href="https://harvesthq.github.io/chosen/" target="_blank">Harvest’s Chosen</a> select boxes in your Ember CLI application.</p>
  
  {{partial 'navigation'}}
  
  {{outlet}}
</div>
